body{
    background-image: url('https://i.postimg.cc/15BnX6Cx/cork-g6cb9f4295-1920.jpg');
    background-size: cover;
    overflow: hidden;
}
.non-click{
    pointer-events:none;
}

.text-lime {
    color: rgb(159, 238, 0);
}

.bg-black-900{
    background-color: rgb(5, 5, 5);
}

.bg-black-800{
    background-color: rgb(9, 9, 9);
}
.bg-black-700:hover{
    background-color: rgb(116, 0, 0);
}

.bg-black-700{
    background-color: rgb(0, 0, 0);
}
.bg-black-700:hover{
    background-color: rgb(17, 17, 17);
}
.bg-yellow-note{
    background-color: #ffde5a;;
}

.panel {
  position: absolute;
  background-color: #ffde5a;
  text-align: center;
  width: 320px;
  height: 274px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 60%);
  z-index:10;
}
.panelheader {
  margin-bottom: 0px;
  padding: 5px;
  cursor: move;
  background-color: rgba(0, 0, 0, 12%);
  color: rgb(0, 0, 0);
}

.mediapanel {
    width: 320px;
    height: 274px;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 60%);
    color: rgb(0, 0, 0);
    cursor: move;
}
.mediaheader {
    margin-bottom: 0px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 12%);
    color: rgb(0, 0, 0);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover > .dropdown-content {
	display: block;
}

.bg-black-200 {
    background-color: rgba(26, 26, 26, 0.00);
    border-radius: 2px;
}
.bg-black-200:hover {
    background-color: rgba(26, 26, 26, 0.20);
    border-radius: 2px;
}
.m-16 {
    margin: 65px;
}
.m-18 {
    margin: 73px;
}
.px-85 {
    padding-left: 2.10rem;
    padding-right: 2.10rem;  
}
textarea::placeholder {
  color: rgba(67, 67, 67, 0.33);  
}
.bg-clear {
    background-color: rgba(0, 0, 0, 0);
}