body{
    background-size:initial;
    overflow: hidden;
}
body, .body-bg{
  background-image: url('https://i.postimg.cc/Hsr8MfQd/Cork001-1-K-Color.jpg');
}

.body-bg{
  background-image: url('https://i.postimg.cc/Hsr8MfQd/Cork001-1-K-Color.jpg');
}
.wood-bg-img {
  background-image: url('https://i.postimg.cc/1zc4CLNM/Planks021-1-K-Color.jpg');
 }
.non-click{
    pointer-events:none;
}

.text-lime {
    color: rgb(159, 238, 0);
}

.bg-black-900{
    background-color: rgb(5, 5, 5);
}

.bg-black-800{
    background-color: rgb(9, 9, 9);
}
.bg-black-700:hover{
    background-color: rgb(116, 0, 0);
}

.bg-black-700{
    background-color: rgb(0, 0, 0);
}
.bg-black-700:hover{
    background-color: rgb(17, 17, 17);
}
.bg-yellow-note{
    background-color: #ffde5a;;
}

.panel {
  position: absolute;
  background-color: #ffde5a;
  text-align: center;
  width: 320px;
  height: 274px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  opacity: 90%;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 60%);
  z-index: 10;
}
.panel-twitter {
    position: absolute;
    background-color: #ffde5a;
    text-align: center;
    width: 320px;
    height: 434px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    opacity: 90%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 60%);
    z-index:10;
  }
.panelheader {
  margin-bottom: 0px;
  padding: 5px;
  cursor: move;
  background-color: rgba(0, 0, 0, 12%);
  color: rgb(0, 0, 0);
}

.mediapanel {
    width: 320px;
    height: 274px;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 60%);
    color: rgb(0, 0, 0);
    cursor: move;
}
.mediaheader {
    margin-bottom: 0px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 12%);
    color: rgb(0, 0, 0);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover > .dropdown-content {
	display: block;
}

.bg-black-200 {
    background-color: rgba(26, 26, 26, 0.00);
    border-radius: 2px;
}
.bg-black-200:hover {
    background-color: rgba(26, 26, 26, 0.20);
    border-radius: 2px;
}
.m-16 {
    margin: 65px;
}
.m-18 {
    margin: 73px;
}
.px-85 {
    padding-left: 2.10rem;
    padding-right: 2.10rem;  
}
.pl-95 {
    padding-left: 2.22rem;
}
.pl-101 {
    padding-left: 2.37rem;
}
textarea::placeholder {
  color: rgba(67, 67, 67, 0.33);  
}
.bg-clear {
    background-color: rgba(0, 0, 0, 0);
}

.dropdown-outline{
  outline: rgba(153, 153, 153, 0.1);
  outline-width: 0px;
  outline-style: solid;
  outline-offset: -5px;
}
.dropdown-opacity{
  opacity: 80%;
  box-shadow: 2px 2px 6px rgba(26, 26, 26, 0.2);
}

.margl{
  margin-left: 92.2px;
}
.p-dropdown-blank {
  padding-top: 10px;
}
.p-div-divider {
  border-bottom: 1px solid rgba(155, 155, 155, 0.6);
  margin-left: -27px;
  margin-right: -27px;
}


.margl-b{
  margin-top: -38px;
}
.margl-c{
  margin-left: 131px;
  margin-top: -38.5px;
}
.margl-d{
  margin-left: 132px;
  margin-top: -38.5px;
}
.margl-e{
  margin-left: 134px;
  margin-top: -39.4px;
}
.margl-f{
  margin-left: 9px;
}
.margl-g{
  padding-right: 30px;
  padding-left: 30px;
}

.counter, .reset, .themes, .minus {
    background-color: #ffffff21;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444444;
    user-select: none;
  }
  .counter {
    width: 160px;
    height: 155px;
    border-radius: 10%;
    margin-left: 130px;
    margin-top: -155px;
    border: 2px solid #4343433d;
    font-size: 80px;
  }
  .buttonscont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
  }
  .minus {
    width: 90px;
    height: 70px;
    border-radius: 20%;
    padding: 10px;
    margin-top: 16px;
    margin-left: 15px;
    font-weight: 600;
    border: 2px solid #4343433d;
    font-size: 25px;
    cursor:pointer;
  }
  .reset {
    width: 90px;
    height: 70px;
    border-radius: 20%;
    padding: 10px;
    margin-top: 15px;
    margin-left: 15px;
    font-weight: 600;
    border: 1px solid #4343433d;
    font-size: 25px;
    cursor:pointer;
  }

  .minus span {
    font-size: 80px;
    position: relative;
    top: -0.6rem;
  }
/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(31, 41, 55, 1); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

